.fun {
  display: grid;
  padding: 30px 30px 100px;
  grid-template-columns: 1fr 1fr;

  &__img {
    width: 480px;
  }

  &__logo {
    width: 300px;
  }

  &__quote {
    position: relative;
    width: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 20px 0;
  }

  &__character {
    margin-top: 25px;
    font-size: 25px;
  }
  &__text{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 22px;
    font-weight: 400;
  }

  &__progress {
    position: absolute;
    top: 780px;
    left: 280px;
  }

  &__btn {
    position: absolute;
    top: 780px;
    left: 20px;
  }

  &__anime {
    text-align: center;
  }

  &__h2 {
    font-size: 50px;
      color: #946423;
  }

  &__res {
        margin-top: 75px;
  }
}

.video {
  width: 810px;
  margin: 50px auto 0;
}

