$special: rgb(170, 205, 205);

html,
body {
  height: 100%;
  font-family: sans-serif;
  min-width: 1400px;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 65% 30%;
  column-gap: 5%;
}

a {
  text-decoration: none;
}

.inactive {
  color: #000000;
}



.h2 {
  color: green;
}

@import 'form';
@import 'header';
@import 'chat';
@import 'sidebar';
@import 'norm';
@import 'navigation';


.active {
  color: #3787b3;
}

.inactive {
  color: black;
}


